* {
    margin: 0;
    /*    padding: 0;*/
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    font-size: 18px;
}

.nav h2 {
    padding: 1rem;
    color: black;
}

.nav ul li {
    float: right;
    list-style-type: none;
    padding: 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: dodgerblue;
}

section.projects h2,
section.about h2 {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
}

section.projects .fullstackCap,
section.projects .nodeApp,
section.projects .apiApp {
    background-color: #f6f6f6;
    width: 85%;
    margin: 3rem auto;
}

section.projects .fullstackCap .projectImage,
section.projects .nodeApp .projectImage,
section.projects .apiApp .projectImage {
    width: 50%;
}

section.projects .fullstackCap .projectDescription,
section.projects .apiApp .projectDescription {
    width: 50%;
    float: right;
    padding-left: 1rem;
}

section.projects .nodeApp .projectDescription {
    width: 50%;
    float: left;
}

section.projects .fullstackCap h2,
section.projects .nodeApp h2,
section.projects .apiApp h2 {
    font-size: 2rem;
}

.techIcons {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
}

section.projects .fullstackCap p,
section.projects .nodeApp p,
section.projects .apiApp p {
    margin: 1rem;
    font-size: 1.25rem;
}

button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: .75rem;
    margin: 1rem 3.5rem;
    text-align: center;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: grey;
}

.about,
.contact {
    border-top: 1px solid grey;
}

.aboutText {
    width: 80%;
    margin: 1rem auto;
}

.contact {
    text-align: center;
}

.contact h2 {
    margin: 1rem;
}

.contact p {
    margin: 2rem;
}

.contact ul li {
    display: inline-block;
    margin: 2rem;
    font-size: 2.5rem;
    padding: 1rem;
}

.contact ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

footer {
    text-align: center;
}
