* {
    margin: 0;
    /*    padding: 0;*/
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    font-size: 18px;
    font-family: 'Arapey', serif;
}


/*
.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
*/

.nav h2 {
    padding: 1rem;
    font-size: 2.25rem;
    font-family: 'Paprika', cursive;
    font-weight: normal;
    margin-left: 1rem;
    background-color: #fafafa;
}

.nav ul li {
    float: right;
    list-style-type: none;
    margin: 1.7rem 1rem;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.wrapper img {
    display: block;
    margin: auto;
    width: 90%;
    height: 30rem;
}

.wrapper .headline {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    top: 105px;
}

section.about h2,
section.projects h2,
section.contact h2 {
    padding: 1rem;
    text-align: center;
    font-size: 2.25rem;
}

.about {
    padding-bottom: 1rem;
}

.aboutText {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

.aboutText p {
    font-size: 1.5rem;
}

section.projects {
    background-color: #fafafa;
}

section.projects .fullstackCap,
section.projects .nodeApp,
section.projects .apiApp {
    color: black;
    width: 85%;
    margin: 1rem auto;
    display: block;
    background-color: #fafafa;
}

section.projects .fullstackCap .projectImage,
section.projects .nodeApp .projectImage,
section.projects .apiApp .projectImage {
    width: 49%;
    /*    opacity: 0.75;*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: inline-block;
}


/*
section.projects .fullstackCap .projectImage:hover,
section.projects .nodeApp .projectImage:hover,
section.projects .apiApp .projectImage:hover {
    opacity: 1.0;
}
*/

section.projects .fullstackCap .projectImage {
    background-image: url("../img/placeholder.jpg");
}

section.projects .nodeApp .projectImage {
    background-image: url("../img/placeholder.jpg");
}

section.projects .apiApp .projectImage {
    background-image: url("../img/placeholder.jpg");
}

section.projects .fullstackCap .projectDescription,
section.projects .apiApp .projectDescription {
    width: 49%;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: top;
}

section.projects .nodeApp .projectDescription {
    width: 49%;
    padding-right: 1rem;
    display: inline-block;
    vertical-align: top;
}

section.projects .fullstackCap .projectDescription h2,
section.projects .nodeApp .projectDescription h2,
section.projects .apiApp .projectDescription h2 {
    font-size: 2.25rem;
}

section.projects .fullstackCap .projectDescription .techIcons i,
section.projects .nodeApp .projectDescription .techIcons i,
section.projects .apiApp .projectDescription .techIcons i {
    font-size: 3rem;
    margin: .5rem;
}

section.projects .fullstackCap .projectDescription i,
section.projects .nodeApp .projectDescription i,
section.projects .apiApp .projectDescription i {
    margin-left: 1rem;
    font-size: 2rem;
}

section.projects .fullstackCap .projectDescription h3,
section.projects .nodeApp .projectDescription h3,
section.projects .apiApp .projectDescription h3 {
    margin: 1rem .5rem;
    display: inline-block;
}

section.projects .fullstackCap p,
section.projects .nodeApp p,
section.projects .apiApp p {
    margin: 1rem;
    font-size: 1.25rem;
}

button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: .75rem;
    margin: 1rem 1rem;
    text-align: center;
    display: block;
    width: 30%;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #414141;
}

button a:hover {
    color: white;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    margin: .75rem 2rem;
}

.contact ul {
    text-align: center;
}

.contact ul li {
    display: inline-block;
    margin: 2rem;
    font-size: 1.75rem;
    padding: 0rem 1rem;
}

.contact ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

footer {
    text-align: center;
    color: black;
}
