* {
    margin: 0;
    /*    padding: 0;*/
    border: 0;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    font-size: 18px;
    font-family: 'Arapey', serif;
}

.nav {
    overflow: hidden;
    background-color: black;
    color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav h2 {
    padding: 1rem;
    font-size: 2.25rem;
    font-family: 'Paprika', cursive;
    font-weight: normal;
}

.nav ul li {
    float: right;
    list-style-type: none;
    margin: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.5rem;
}

.nav ul li a:hover {
    color: #628598;
}

.wrapper img {
    display: block;
    margin: auto;
    width: 90%;
    height: 30rem;
}

.wrapper .headline {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    top: 105px;
}

section.about h2,
section.projects h2,
section.contact h2{
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
}
.aboutText {
    width: 80%;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

.aboutText p {
    font-size: 1.5rem;
}

section.projects .fullstackCap,
section.projects .nodeApp,
section.projects .apiApp {
    background-color: black;
    color: #F5F5F5;
    width: 85%;
    margin: 1rem auto;
    display: block;
    height: auto;
}

section.projects .fullstackCap .projectImage,
section.projects .nodeApp .projectImage,
section.projects .apiApp .projectImage {
    width: 50%;
    opacity: 0.75;
}

section.projects .fullstackCap .projectImage,
section.projects .apiApp .projectImage {
    border-right: 1px solid #F5F5F5;
}


section.projects .nodeApp .projectImage{
    border-left: 1px solid #F5F5F5;
}

section.projects .fullstackCap .projectImage:hover,
section.projects .nodeApp .projectImage:hover,
section.projects .apiApp .projectImage:hover {
    opacity: 1.0;
}

section.projects .fullstackCap .projectDescription,
section.projects .apiApp .projectDescription {
    width: 50%;
    float: right;
    padding-left: 1rem;
}

section.projects .nodeApp .projectDescription {
    width: 50%;
    float: left;
}

section.projects .fullstackCap h2,
section.projects .nodeApp h2,
section.projects .apiApp h2 {
    font-size: 2.25rem;
}

.techIcons {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

section.projects .fullstackCap p,
section.projects .nodeApp p,
section.projects .apiApp p {
    margin: 1rem;
    font-size: 1.25rem;
}


button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    padding: .75rem;
    margin: 1rem 1rem;
    text-align: center;
    position: relative;
    left: 9rem;
}

button a {
    text-decoration: none;
    color: #F5F5F5;
}

button:hover {
    background-color: #414141;
}

.projects,
.contact {
    border-top: 1px solid grey;
}


.contact p {
    text-align: center;
    font-size: 2rem;
    margin: .75rem 2rem;
}

.contact ul {
    text-align: center;
}

.contact ul li {
    display: inline-block;
    margin: 2rem;
    font-size: 2rem;
    padding: 0rem 1rem;
}

.contact ul li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

footer {
    text-align: center;
    background-color: black;
    color: #F5F5F5;
}

@media only screen and (max-width: 800px) {
    header {
        display: inline-block;
    }

    section.projects .fullstackCap .projectDescription,
    section.projects .apiApp .projectDescription,
    section.projects .nodeApp .projectDescription
    {
        display: block;
        width: 100%;
        height: auto;
    }

    section.projects .fullstackCap .projectImage,
    section.projects .apiApp .projectImage,
    section.projects .nodeApp .projectImage {
        display: block;
        width: 100%;
    }

    .contact ul {
        display: block;
    }
}
